

body {
  background: url(../img/background.jpg) no-repeat fixed;
  background-size: cover;
  width: 100%;
  height: 100%;

  /* Set up positioning */
  top: 0;
  left: 0;
  padding: 30px; /*border space*/
}

#titlepage {
  color: white;
  width: 100%;
  margin: auto;
  margin-top: 15%;
  margin-bottom: 10%;
  text-align: center;
}

#titlepage img {
  padding: 50px;
  width: 66%;
}

h1 {
  font-size: 650%;
  margin: auto;
  margin-bottom: 200px;
}

h2 {
  font-size: 300%;
  margin: auto;
}

h3 {
  font-size: 150%;
}

a {
  color: white;
  font-size: 200%;
  text-decoration: none;
  padding: 15px;
}

a:hover {
  color: #fff200;
}

.shadow {
  text-shadow:
		-3px -3px 0 #000,
		3px -3px 0 #000,
		-3px 3px 0 #000,
		3px 3px 0 #000;
}

#gearatomlogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 33%;
  height: auto;
}

footer {
  position: relative;
}

#rplrenewablelogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
